.card {
  width: 38.7rem;
  height: 61.3rem;
  padding: 0 2rem;
  margin: 20rem 0.8rem 0.8rem 0.8rem;
  border-radius: 2.7rem;
  background-color: var(--color-box);
  box-shadow: 0px 0.3rem 0.6rem #FFFFFF63;
}

.card p {
  color: var(--color-text);
  margin: 3.2rem 1rem;
  font-size: 2rem;
}

.card .person-container {
  background-color: var(--color-background);
  border-radius: 10rem;
  margin-top: -10rem;
  border: 0.4rem solid var(--color-box);
  display: flex;
}

.person-container .hidden {
  margin: -11.5rem auto 0 -2rem;
  border-radius: 0 0 10rem 12.8rem;
  display: flex;
  overflow: hidden;
}

.person-container .hidden img {
  height: 55rem;
  transform: translateY(1.2rem);
}