:root {
  --color-background: #363636;
  --color-primary: #63C7A9;
  --color-box: #FFFFFF;
  --color-text: #363636;
  --color-text-in-primary: #FFFFFF;
  --color-text-base: #F0F0F2;

  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  background-color: var(--color-background);
}

header {
  background: var(--color-background);
  width: 100%;
  height: 10.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

header h1 {
  color: var(--color-text-in-primary);
  font-size: 2.25rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

header img {
  transform: translateX(-2.8rem);
  width: 10.9rem;
}

section#first-section {
  background-image: url('./assets/background.png');
  background-position: center;
  width: 100%;
  height: 108rem;
  padding-top: 8rem;
  display: flex;
  position: relative;
  justify-content: center;
}

section#first-section #scroll_to {
  background: var(--color-box);
  width: 2.9rem;
  height: 4.8rem;
  box-shadow: 0 0.3rem 0.6rem #00000029;
  position: absolute;
  bottom: -1.8rem;
  border-radius: 5rem;
  right: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  animation: move 0.6s infinite alternate;
}

section#first-section #scroll_to::after {
  content: "";
  width: 0.3rem;
  border-radius: 5rem;
  height: 1rem;
  margin-top: 0.6rem;
  background: var(--color-background);
}

section#first-section > svg {
  width: 2.9rem;
  color: var(--color-text-base);
  height: 4.8rem;
  position: absolute;
  bottom: -7rem;
  border-radius: 5rem;
  right: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
}

section#first-section .contain-hero {
  background-image: linear-gradient( #9C020480, #4D101045);
  width: 100%;
  max-width: 58.6rem;
  height: 100%;
  padding: 1.5rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section#first-section .contain-hero h2 {
  color: var(--color-text-in-primary);
  font-size: 1.5rem;
  font-weight: 700;
  align-self: flex-start;
}

section#first-section .contain-hero img {
  margin: 2rem 0;
  width: 100%;
  max-width: 54.5rem;
  object-fit: contain;
  object-position: center;
}

section#first-section .contain-hero p {
  color: var(--color-text-base);
  font-size: 2rem;
  text-align: center;
  width: 27.1rem;
}

section#section-cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 12rem 0 15rem 0;
}

section#section-cards .cards {
  display: flex;
  width: 100%;
  max-width: 256rem;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}

section#section-cards > svg {
  color: var(--color-text-base);
  font-size: 12rem;
  cursor: pointer;
}

section#section-cards > svg:hover {
  opacity: 0.8;
}

section#section-form {
  background: var(--color-primary);
  width: 100%;
  height: 74.2rem;
  display: flex;
  justify-content: center;
}

section#section-form form {
  background: var(--color-box);
  box-shadow: 0 0 0.6rem #0000004D;
  width: 100%;
  max-width: 108.2rem;
  height: 83.2rem;
  margin: -4rem 3rem;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  padding: 8.3rem 2.2rem;
}

section#section-form form h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  color: var(--color-primary);
  align-self: center;
}

section#section-form form p {
  color: var(--color-text);
  font-size: 2rem;
  margin: 4.1rem auto 5.1rem auto;
  width: 100%;
  max-width: 75rem;
}

section#section-form form #inputs {
  width: 100%;
  max-width: 52.8rem;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr 19.7rem 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 4.9rem;
  grid-template-areas:
    "name email"
    "message message"
    "button button"
  ;
}

form input:first-child {
  grid-area: name;
}

form input:last-child {
  grid-area: email;
}

#section-form form input {
  height: 4.8rem;
}

#section-form form input,
#section-form form textarea {
  width: 100%;
  font-size: 1.8rem;
  font-family: 'Open Sans', sans-serif;
  padding: 1.5rem;
}

section#section-form form textarea {
  grid-area: message;
  max-height: 22.7rem;
  resize: vertical;
}

section#section-form form button {
  grid-area: button;
  width: 100%;
  max-width: 24.9rem;
  height: 4.8rem;
  background: var(--color-primary);
  border: 0;
  font-size: 1.8rem;
  color: var(--color-text-base);
  cursor: pointer;
}

footer {
  width: 100%;
  height: 40rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

footer #circle {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: var(--color-box);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 14.3rem;
  cursor: pointer;
}

footer #circle svg {
  font-size: 5rem;
  color: var(--color-text);
}


@keyframes move {
  0% {
    transform: translateY(0.4rem);
  } 100% {
    transform: translateY(-0.6rem);
  }
}



@media (max-width: 1140px) {
  :root {
    font-size: 58%;
  }
}

@media (max-width: 1024px) {
  :root {
    font-size: 50%;
  }
}

@media (max-width: 880px) {
  :root {
    font-size: 45%;
  }
}

@media (max-width: 640px) {
  :root {
    font-size: 40%;
  }
}